# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Generated Reports
# -----------------------------
reports/
dataset/outputData/*.xlsx
dataset/outputData/*.csv
dataset/outputData/*.html
!dataset/outputData/.gitkeep

# -----------------------------
# Python Build Files
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db