# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Environment
.env
.env.local

# DeepEval
.deepeval/

# Reports
execution_reports/
reports/
execution_reports/*
!execution_reports/.gitkeep

# Allure
allure-results/
allure-report/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db